# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.TankShooterTest2D.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Unity\TankShooterTest2D\.idea\.idea.TankShooterTest2D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
